body {
    font-family: sans-serif;
}
header {background-color: darkblue;}
footer p
 {background-color: royalblue;}
main  nav {border-color: yellow;border:width 9px;}
.Kirill {background-color: royalblue}
p {padding:20px}
p {font-size:10px}
